body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004ff8;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 2rem 0;
}

#projects {
    padding: 2rem;
}

.project {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

a {
    color: dodgerblue;
}

a:hover {
    text-decoration: underline;
}
img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 1rem 0;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6rem;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}